/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Video de fondo */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Mantiene el video en segundo plano */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos del formulario y el contenedor */
.form-container {
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    margin: 100px auto;
    text-align: center;
}

.form-container h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Color verde */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

